pipeline/Master_Pipeline12.json
{
	"name": "Master_Pipeline12",
	"properties": {
		"activities": [
			{
				"name": "COPY SQL TABLE",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "COPY SQL TABLE",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "COPYCSV",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "COPYCSV",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "retrieve_from RESTAPI",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "retrieve_from RESTAPI",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Running_Custom_DBNB",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Running_Custom_DBNB",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Zone_Name": "Raw"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "COPYCSV",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "COPY SQL TABLE",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "retrieve_from RESTAPI",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Running_Custom_DBNB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.Zone_Names",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Running_Custom_DBNB_inner",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Running_Custom_DBNB",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Zone_Name": {
										"value": "@item().Zone_Names",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Databricks pipeline",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Mart_to_SQL",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			}
		],
		"parameters": {
			"Zone_Names": {
				"type": "array",
				"defaultValue": [
					"Raw",
					"Cleansed",
					"DataQuality",
					"Mart"
				]
			}
		},
		"annotations": []
	}
}